<html>
    <head>
        <title>Modification de données</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <style>
            h1 {text-align: center;}
        </style>
    </head>
    <body>
    <datalist id="Taf">
            <option value="LOGIN">
            <option value="DCL">
            <option value="MCE">
            <option value="TEE">
        </datalist>
        <datalist id="Tuteur">
            <option value="Rory">
            <option value="Nolann">
            <option value="Julien">
            <option value="Safou">
        </datalist>
        <datalist id="Position">
            <option value="Développeur">
            <option value="Ingénieur">
            <option value="Ressources Humaines">
            <option value="Patron">
        </datalist>
        <datalist id="Entreprise">
            <option value="Adnovum">
            <option value="IMT">
            <option value="Nasa">
            <option value="Carrefour">
        </datalist>
        <datalist id="Promo">
            <option value="2023">
            <option value="2024">
            <option value="2025">
            <option value="2026">
        </datalist>
        <HR>
        <h1>Modification des données</h1>
        <HR>
        <div class ="row">
            <div class="col">
                <div class = "card">
                    <div class="card-body">
                        <form method = "POST">
                            <h3 class="card-header">{{ personne[1]}} {{ personne[2] }}</h3>
                          <div class="mb-3">
                              <br>
                              <h5>Informations personnelles</h5>
                              <HR>
                              <div class = "row align-items-center">
                                  <div class = "col-auto">
                                      <div class="form-check">
                                          <input class="form-check-input" type="radio" name="Genre" id="mr" checked>
                                          <label class="form-check-label" for="mr">
                                            Mr
                                          </label>
                                        </div>
                                  </div>
                                  <div class = "col-auto">
                                    <div class="form-check">
                                      <input class="form-check-input" type="radio" name="Genre" id="mme">
                                      <label class="form-check-label" for="mme">
                                        Mme
                                      </label>
                                    </div>
                                  </div>
                              </div>
                              <br>
                              <div class="row align-items-center">
                                  <div class = "col-auto">
                                    <label for="Name" class="form-label">Nom :</label>
                                  </div>
                                  <div class = "col-auto">
                                    <input autocomplete="off" type="text" class="form-control" id="Name" name="nom" value={{ personne[1] }}>
                                  </div>
                                  <div class = "col-auto">
                                    <label for="Prenom" class="form-label">Prénom :</label>
                                  </div>
                                  <div class = "col-auto">
                                    <input autocomplete="off" type="text" class="form-control" id="Prenom" name="prenom" value={{ personne[2] }}>
                                  </div>
                              </div>
                              <br>
                              <div class = "row align-items-center">
                                  <div class = "col-auto">
                                    <label for="Date" class="form-label">Date de Naissance :</label>
                                  </div>
                                  <div class = "col-auto">
                                    <input autocomplete="off" type="date" class="form-control" id="Date" name="date" value={{ personne[10] }}>
                                  </div>
                              </div>
                                <br>
                              <HR>
                              <h5>Scolarité</h5>
                              <HR>
                              <div class = "row align-items-center">
                                  <div class = "col-auto">
                                      <label for="taf1" class="form-label">TAF 2A :</label>
                                  </div>
                                  <div class = "col-auto">
                                      <input autocomplete="off" class="form-control" list="Taf" id="taf1" name="tafa2" value={{ personne[4] }}>
                                  </div>
                                  <div class = "col-auto">
                                      <label for="taf2" class="form-label">TAF 3A :</label>
                                  </div>
                                  <div class = "col-auto">
                                      <input autocomplete="off" class="form-control" list="Taf" id="taf2" name="tafa3" value={{ personne[5] }}>
                                  </div>
                              </div>
                              <br>
                            <div class = "row align-items-center">
                                <div class = "col-auto">
                                    <label for="promo" class="form-label">Promo :</label>
                                </div>
                                <div class = "col-sm-1">
                                    <input autocomplete="off" class="form-control" list="Promo" id="promo" name="promo" value={{ personne[3] }}>
                                </div>
                            </div>
                              <br>
                              <HR>
                              <h5>Projet de fin d'étude</h5>
                              <HR>
                              <div class="row align-items-center">
                                <div class = "col-sm-1">
                                    <label for="stage" class="form-label">Titre :</label>
                                </div>
                                <div class = "col-sm-11">
                                    <input autocomplete="off" type="text" class="form-control" id="stage" name="stage" value={{ personne[9].titre }}>
                                </div>
                            </div>
                              <br>
                              <div class = "row align-items-center">
                                  <div class="col-sm-1">
                                      <label for="description" class="form-label">Description :</label>
                                  </div>
                                  <div class = "col-sm-11">
                                      <textarea autocomplete="off" class="form-control" id="description" rows="5" wrap="soft" name="description">{{ personne[9].description }}</textarea>
                                  </div>
                              </div>
                              <br>
                              <div class="row align-items-center">
                                  <div class="col-sm-1">
                                      <label for="tuteur" class="form-label">Tuteur :</label>
                                  </div>
                                  <div class="col-auto">
                                      <input autocomplete="off" class="form-control" list="Tuteur" id="tuteur" name="tuteur" value={{ personne[9].tuteur}}>
                                  </div>
                              </div>
                              <br>
                              <div class="row align-items-center">
                                  <div class="col-sm-1">
                                      <label for="entreprise_stage" class="form-label">Entreprise</label>
                                  </div>
                                  <div class="col-auto">
                                      <input autocomplete="off" class="form-control" list="Entreprise" id="entreprise_stage" name="entreprise_stage" value={{ personne[9].titre }}>
                                  </div>
                              </div>
                              <br>
                              <HR>
                              <h5>Vie Professionnelle</h5>
                              <HR>
                            <div class = "row align-items-center">
                                <div class = "col-auto">
                                    <label for="position" class="form-label">Position:</label>
                                </div>
                                <div class = "col-auto">
                                    <input autocomplete="off" class="form-control" list="Position" id="position" name="position" value={{ personne[8][0] }}>
                                </div>
                                <div class = "col-auto">
                                    <label for="entreprise" class="form-label">Entreprise:</label>
                                </div>
                                <div class = "col-auto">
                                    <input autocomplete="off" class="form-control" list="Entreprise" id="entreprise" name="entreprise" value={{ personne[7][0] }}>
                                </div>
                            </div>
                          </div>
                          <button type="submit" class="btn btn-primary">Valider</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>