<html>
    <head>
        <title>Resultats</title>
    </head>

    <body>
    <p>{{name}}</p>
    <p>{{taf1}}</p>
    <p>{{taf2}}</p>
    <p>{{promo}}</p>
    <p>{{stage}}</p>
    <p>{{entreprise}}</p>

    </body>
</html>