<html>
    <head>
        <title>Debug page</title>
    </head>

    <body>
    <p>DATABASE DISPLAY :</p>
    <div>
    <p>ORGANISATIONS :</p>
        {% for orga in organisations %}
            <p> Organisation : {{orga.name}} (id={{orga.id}})
            liste des personnes dans cette entité : {{ orga.personnes }}</p>
        {% endfor %}
    <br><br>
    </div>
    <div>
    <br>
        <p>POSITIONS :</p>
        {% for p in positions %}
            <p>  {{p.titre}}(id={{p.id}}),

                {{ p.personnes }}</p>

        {% endfor %}
    <br><br>
    </div>
    <div>
        <p>LIEN ENTRE POSITIONS/ORGANISATIONS</p>
        <p>Postes dans les organisations : </p>
        {% for orga in organisations %}
            <p>{{ orga.name }} : {{ orga.postes }}</p>
        {% endfor %}
        <br><br>
    </div>
    <div>
        <p>PFEs : </p>
        {% for pfe in pfes %}
            <p>projet {{ pfe.titre }} : {{ pfe.description }}</p>
        {% endfor %}
    </div>
    <div>
        <p>TAFS : </p>
        {% for taf in tafs %}
             {{ taf.name }},
        {% endfor %}
    </div>
    <div>
        <p>PERSONNES : </p>
        {% for t in personnes %}
             {{ t.name }},
        {% endfor %}
    <br><br>
    </div>
    <div>
        <p>LIEN PFE/PERSONNES <br>(affichage des titres des positions des
            gens personnes, marty doit en avoir deux pour voir)</p>
        {% for p in positions %}
             {{ p.titre }} : {{ p.personnes }},
        {% endfor %}
    </div>
    <div>
        <p>TEST LIEN PERSONNES/TAFS : </p>
        A partir des tafs :
        {% for t in tafs %}
             Personnes dans {{ t.name }} : {% for el in t.personnes %} {{ el.name }} {% endfor %} <br>
        {% endfor %} <br><br>
        A partir des personnes : <br>
        {% for p in personnes %}
            {{ p.name }} est en {{ p.taf }} <br>
        {% endfor %}
    </div>


    <!--
     </p> TEST AFFICHAGE
            <form method="POST">
            <input name="testFiltrer">
            <button type="submit">Test fonction filtrer</button>
            <p>{% for a in ans %}</p>
            {{ a }}
            {% endfor %}
            </form>

    -->
    </body>
</html>