<html>
    <head>
        <title>Debug page</title>
    </head>

    <body>
    <p>DATABASE DISPLAY :</p>
    <div>
    <p>ORGANISATIONS :</p>
        {% for orga in organisations %}
            <p> Organisation : {{orga.name}} (id={{orga.id}})
            liste des personnes dans cette entité : {{ orga.personnes }}</p>
        {% endfor %}
    <br><br>
    </div>
    <div>
    <br>
        <p>POSITIONS :</p>
        {% for p in positions %}
            <p>  {{p.titre}}(id={{p.id}}), organisations =

                {{ p.organisations }}</p>
        {% endfor %}
    <br><br>
    </div>

        <p>PFEs : </p>
        {% for pfe in pfes %}
            <p>projet {{ pfe.titre }} : {{ pfe.description }}</p>
        {% endfor %}
    </div>
    <div>
        <p>TAFS : </p>
        {% for taf in tafs %}
             {{ taf.name }},
        {% endfor %}
    </div>
    <div>
        <p>PERSONNES : </p>
        {% for t in personnes %}
             {{ t.name }},
        {% endfor %}
    <br><br>
    </div>
    <div>
        <p>LIEN POSITIONS/PERSONNES <br></p>
        {% for p in positions %}
             {{ p.titre }} : {{ p.personnes }},
        {% endfor %}
    </div>
    <div>
        <p>TEST LIEN PERSONNES/TAFS : </p>
        A partir des tafs :
        {% for t in tafs %}
             Personnes dans {{ t.name }} : {% for el in t.personnes %} {{ el.name }} {% endfor %} <br>
        {% endfor %} <br><br>
        A partir des personnes : <br>
        {% for p in personnes %}
            {{ p.name }} est en {{ p.taf }} <br>
        {% endfor %}
    </div>


       <div>
        <p>PFES DES ALUMNIS: </p>
       Liste des alumnis : {{ alumnis }}

    </div>
    <div>
        <br><br>
        Voici les personnes avec la requete getList('R',None,None,'dcl','login')

        {% for p in testp %}
            <br>
            {{ p }}
        {% endfor %}
        <br>
    </div>
    <div>
        <br><br>
        TEST getTafFromEleve : {{ testGetTaf }}

    </div>
    <div>
        <br><br>
        TEST getTafId : DCL ID : {{ dcl_id }}
    </div>
    <div>
        <br><br>
        TEST getPromotion :

        {% for eleve in testGetPromotion %}
         <p>{{ eleve }}</p>

        {% endfor %}
    </div>
      <div>
        <br><br>
        TEST getNSafran  : {{ testGetSafran }}
    </div>  <div>
        <br><br>
        TEST testGetNNASA : {{ testGetNNASA }}
    </div>  <div>
        <br><br>
        TEST testGetNIMT : {{ testGetNIMT }}
    </div>
    </div>
    TEST GET POSITION (etudiant)

    <div>
        <br><br>
        TEST getEntreprises : {{ entreprises }}
    </div>

    <div>
        <br>
        <br>
        TEST GETAlumnis : {{ testgetAlumnis }}
    </div>
        <div>
        <br>
        <br>
        TEST getListPosition : {{ testGetListPosition }}
    </div>
      </div>
        <div>
        <br>
        <br>
        people : {{ people }}
            <br>
        etudiant : {{ etudiant }}
    </div>
       </div>
        <div>
        <br>
        <br>
        TEST getPersonnesPromo (2024) : {{ testPromo }}
    </div>
       </div>
        <div>
        <br>
        <br>
        TEST PIPOUNE  : {{ tom }}<br> 
    </div>
    </body>
</html>